<aside id="aside">
    <nav class="flex flex-column p-3 bg-light">
        <div class="list-group pb-3">
            <label class="list-group-item active">Instituciones</label>
            <ul>
                <li> <a href="URL"> Telon </a></li>
            </ul>
        </div>
        <div class="list-group">
            <label class="list-group-item active">Categorías</label>
            <ul>
                <li> <a href="URL"> Categorias </a></li>
            </ul>
        </div>
    </nav>
</aside>