<aside id="aside">
    <nav class="flex flex-column p-3 bg-light">
        <div class="list-group pb-3">
            <label class="list-group-item active">Instituciones</label>
            <form action="consulta_institucion.html">
                <input class="list-group-item list-group-item-action" type="submit" value="Telon"> 
            </form>
        </div>
        <div class="list-group">
            <label class="list-group-item active">Categorías</label>
            <form action="consulta_institucion.html">
                <p class="list-group-item list-group-item-action"> Categoria </a></p> 
            </form>
        </div>
    </nav>
</aside>
