<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC '-//Sun Microsystems, Inc.//DTD Web
     Application 2.3//EN' 'http://java.sun.com/dtd/web-app_2_3.dtd'>

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
    http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    id="WebApp_ID" version="2.5">
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.css</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>index</servlet-name>
        <jsp-file>/WEB-INF/index.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>index</servlet-name>
        <url-pattern/>
    </servlet-mapping>

    <servlet>
        <servlet-name>consulta_institucion</servlet-name>
        <jsp-file>/WEB-INF/consulta_institucion.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>consulta_institucion</servlet-name>
        <url-pattern>/consulta_institucion</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AltaUsuario</servlet-name>
        <servlet-class>com.entrenamosuy.web.AltaUsuarioServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AltaUsuario</servlet-name>
        <url-pattern>/alta_usuario</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>IniciarSesion</servlet-name>
        <servlet-class>com.entrenamosuy.web.IniciarSesionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>IniciarSesion</servlet-name>
        <url-pattern>/iniciar_sesion</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DatosPrueba</servlet-name>
        <servlet-class>com.entrenamosuy.web.DatosPruebaServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DatosPrueba</servlet-name>
        <url-pattern>/datos_prueba</url-pattern>
    </servlet-mapping>
</web-app>
